div {
  padding: 10px;
  display:inline-block;
}

.target {
  border: 1px solid black;
}

span {
  border: 1px solid black;
}

.source {
  border: 1px solid black;
}

img {
  height: 75px;
  width: 75px;

}

#target1 {

  height: 85px;
  width: 85px;
}

#target2 {

  height: 85px;
  width: 85px;
}

#target3 {

  height: 85px;
  width: 85px;
}

#target4 {
  height: 85px;
  width: 85px;
}

#target5 {

  height: 85px;
  width: 85px;
}

#target6 {
  height: 85px;
  width: 85px;
}
