.target {
  border: 3px solid black;
}

span {
  border: 1px solid black;
}

.source {
  border: 3px solid black;

}

img {
  height: 75px;
  width: 75px;
}

#target1 {
  height:100px;;
  width: 1138px;
}

#source {
  height:100px;;
  width: 1138px;
}

h3{
  padding-top: 5px;
}

input {
  height: 75px;
  width: 75px;
}
